/* Color */
$head-line-color: #4a4a4a;

/* Font family */
$open-sans: 'Open Sans', sans-serif;
$quicksand: 'Quicksand', sans-serif;

/* Box Model */
$left-right-padding: 2.4rem;
$top-bottom-padding: 3.2rem;
$left-right-padding-responsive: 1.6rem;

/* Screen sizes*/
$break-sm: 480px;
